.chartContainer {
  width: 25em;
  height: calc(100% / 3 - 0.5em);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  background-color: rgba(0, 15, 40, 0.75);
  overflow: hidden;

  #topPatternContainer {
    top: 0;
  }

  #bottomPatternContainer {
    bottom: 0;
  }

  .patternContainer {
    width: 100%;
    height: 40px;
    position: absolute;
    stroke: rgb(var(--CYAN));

    .pattern {
      width: 100%;
      height: 100%;
      stroke-width: 2;
      fill: none;

      .filled {
        fill: rgb(var(--CYAN));
        fill-opacity: 1;
      }
    }
  }

  #chart {
    flex-grow: 1;
  }
}
