:root {
  --BlUE_0: cyan;
  --BLUE_1: rgb(0, 100, 250);
  --BLUE_2: rgb(0, 50, 135);
  --BLUE_3: rgb(0, 30, 75);
  --BLUE_4: rgb(0, 15, 40);

  --WHITE: rgb(255, 255, 255);
  --GRAY_1: rgb(204, 204, 204);
  --GRAY_2: rgb(153, 153, 153);
  --GRAY_3: rgb(102, 100, 102);
  --GRAY_4: rgb(51, 51, 51);
  --BLACK: rgb(0, 0, 0);
}
